@media (min-width:320px) and (max-width:575px) {
    .logo{
        width: 160px;
    }
    .nav-link {
        margin-right: 47px;
        font-family: 'Gupter', serif;
        font-size: 17px;
        font-weight: 700;
        color: black;
        position: relative;
        display: inline-block;
      
      }
      
      .nav-link::after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        background-color: rgb(0, 0, 0);
        left: 50%;
        border-radius: 10px;
        top: 30px;
        transform: translateX(-50%);
      }
      
      .nav-link:hover::after {
        width: 100%;
        transition: .4s;
      }
      
    .banner_left h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .banner_left p {
        width: auto;
        height: 200px;
        color: #000;
        font-family: 'Habibi', serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.4px;
        margin-top: 12px;
    }
    .btn_01 {
        color: #FFF;
        font-family: 'Gupter', serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.54px;
        padding: 16px 22px;
        background: var(--Pich, #C4A586);
        border: none;
        margin-right: 33px;
        border: 3px solid transparent;
    }
    .btn_02 {
        color: var(--Pich, #C4A586);
        font-family: 'Gupter', serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.54px;
        padding: 18px 10px;
        background: white;
        border: 3px solid #C4A586;
    }
    .btn_section {
        margin-bottom: 30px;
    }
    .stand_sofa {
        width: 100%;
    }
    #clint {
        margin-top: 40px;
    }
    #clint h6 {
        color: #000;
        font-family: 'Gupter', serif;
        font-size: 23px;
        font-weight: 700;
        letter-spacing: 0.46px;
        text-align: center;
        margin-bottom: 20px;
    }
    .client_flex ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    .client_flex ul li {
        list-style: none;
        margin-bottom: 16px;
    }
    .client_flex ul li a {
        color: var(--Grayes, #72696A);
        font-family: 'Gupter', serif;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 0.9px;
        text-decoration: none;
    }
    .left_text p {
        color: var(--Pich, #C4A586);
        font-family: 'Gupter', serif;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    #product {
        margin-bottom: 50px;
    }
    .best_selling {
        color: #000;
        font-family: Gupter;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .width_100{
        width: 100%;
    }
    .margin-top {
        margin-top: 36px;
    }
    .man_sit {
        transform: translateX(-50%);
        margin-top: 30px;
        margin-left: 50%;
        width: 100%;
    }
    .customer_h1 {
        width: auto;
        color: #000;
        font-family: Gupter;
        font-size: 42px;
        font-weight: 500;
        margin-top: 50px;
    }
    .customer_pera {
        width: auto;
        height: 164px;
        color: #000;
        font-family: Habibi;
        font-size: 17px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.4px;
        margin-top: 18px;
    }
    .arrow {
        justify-content: end;
        display: flex;
        margin-top: 0;
    }
    .lower_img {
        margin-left: 0;
        margin-top: 32px;
    }
    .pera_btn {
        width: 100%;
        height: 49px;
        border-radius: 30px;
        border: 3px solid #D1A070;
        text-align: center;
        color: var(--Pich, #C4A586);
        font-family: Gupter;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.32px;
        background-color: #FFF;
        margin-top: 40px;
        margin-bottom: 25px;
    }
    .interior_h1 {
        color: #000;
        font-family: Gupter;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0.6px;
        width: auto;
        margin-bottom: 16px;
    }
    input {
        width: 100%;
        height: 73px;
        background-color: #D9D9D9;
        border: none;
        border-radius: 15px;
        outline: none;
    }
    .get_st_btn {
        color: #FFF;
        font-family: Gupter;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        background-color: #D1A070;
        letter-spacing: 0.4px;
        padding: 22px 26px;
        border: none;
        border-radius: 12px 0 0 12px;
        position: absolute;
        margin-left: 85px;
    }
    input::placeholder {
        color: #000;
        font-family: Gupter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.36px;
        padding-left: 0;
      }
    .button_arrow {
        font-size: 32px;
        position: absolute;
        background-color: #C4A586;
        border-radius: 0 13px 13px 0;
        right: 13px;
        padding: 17px 23px;
    }
    .watch_flex {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    .right_interior {
        display: flex;
        margin-top: 34px;
        margin-bottom: 136px;
        flex-direction: column;
        align-items: center;
    }
}